.competition {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .competition .eventTitle {
    font-family: cursive;
    font-size: 60px;
  }

  .competition p {
    padding-left: 2% ;
  }
  
  .competition .eventlist {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  /* MENU ITEM STYLING */
  
  .eventItem {
    border-radius: 30px;
    width: 300px;
    height: 350px;
    margin: 50px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .eventItem .card-one{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .eventItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .eventItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .eventItem h1,
  .eventItem p {
  }
  
  @media only screen and (max-width: 1300px) {
    .eventList {
      grid-template-columns: 2fr 2fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .eventList {
      grid-template-columns: 2fr;
    }
  }